<a href="https://colab.research.google.com/github/Aaditya18SP/MSC_Data_Science/blob/windows/prac5_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[2]").appName("prac9").getOrCreate()

In [3]:
data = spark.read.csv("/content/sample_data/fakefriends.csv")

data = data.toDF("no","name","age","numFriends")
data = data.withColumns({"no":data.no.cast("int"), "age":data.age.cast("int"), "numFriends":data.numFriends.cast("int")})

In [7]:
data.createOrReplaceTempView("users")
result = spark.sql("SELECT * FROM users WHERE age > 21 AND age <50 AND numFriends >5")


result.groupBy("name").agg({"age":"avg", "numFriends":"avg"}).sort("name").show()

+--------+------------------+------------------+
|    name|   avg(numFriends)|          avg(age)|
+--------+------------------+------------------+
|     Ben|           320.875|              37.5|
| Beverly|311.55555555555554|33.666666666666664|
|   Brunt|137.45454545454547| 33.09090909090909|
|    Data| 274.6666666666667|38.666666666666664|
|  Deanna|216.33333333333334|37.916666666666664|
|   Dukat|216.77777777777777| 35.44444444444444|
|    Elim|243.66666666666666| 38.44444444444444|
|    Ezri| 268.2142857142857|34.642857142857146|
|  Geordi|             271.8|              36.3|
|  Gowron| 283.6666666666667|32.333333333333336|
|  Guinan|218.57142857142858|38.714285714285715|
|    Hugh|253.88888888888889|37.111111111111114|
|  Jadzia|308.14285714285717|              40.0|
|Jean-Luc|331.57142857142856|36.714285714285715|
|  Julian|158.57142857142858| 35.42857142857143|
|  Kasidy|           225.375|            32.625|
|   Keiko|           250.625|             37.25|
|   Leeta| 293.1818181818182| 33.63636363636363|
| Lwaxana|           238.875|            31.875|
|  Martok|           149.875|             33.25|
+--------+------------------+------------------+
only showing top 20 rows