# Python List:

### 1. Create your own lists otherwise use the List1 = ['hello','good','morning']  to operate the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [8]:
italian_cars = ["Ferrari 296 Gtb", "Maserati MC20", "Lamborghini Revuelto", "Alfa Romeo Guilia Quadrifolgio", "Pagani Utopia", "Ferrari Daytona Sp3", "Abarth 124 spider"]
2*italian_cars

['Ferrari 296 Gtb',
 'Maserati MC20',
 'Lamborghini Revuelto',
 'Alfa Romeo Guilia Quadrifolgio',
 'Pagani Utopia',
 'Ferrari Daytona Sp3',
 'Abarth 124 spider',
 'Ferrari 296 Gtb',
 'Maserati MC20',
 'Lamborghini Revuelto',
 'Alfa Romeo Guilia Quadrifolgio',
 'Pagani Utopia',
 'Ferrari Daytona Sp3',
 'Abarth 124 spider']

#### 1.B. Concatenation (+):

In [9]:
german_cars = ["Porsche 911 S/T", "Porsche 911 GT3RS", "Mercedes AMG One", "BMW M3 Touring", "Audi R8 GT", "Skoda Superb", "Volkswagen Passat"]

italian_cars + german_cars

['Ferrari 296 Gtb',
 'Maserati MC20',
 'Lamborghini Revuelto',
 'Alfa Romeo Guilia Quadrifolgio',
 'Pagani Utopia',
 'Ferrari Daytona Sp3',
 'Abarth 124 spider',
 'Porsche 911 S/T',
 'Porsche 911 GT3RS',
 'Mercedes AMG One',
 'BMW M3 Touring',
 'Audi R8 GT',
 'Skoda Superb',
 'Volkswagen Passat']

#### 1.C. Membership:

In [13]:
if "Ferrari 812" in italian_cars:
    print("True")
else:
    print("False")
    
if "Ferrari 296 Gtb" in italian_cars:
    print("True")
else:
    print("False")

False
True

#### 1.D. Length:

In [14]:
print("Number of Italian cars: " , len(italian_cars))
print("Number of German Cars: ",len(german_cars))

Number of Italian cars:  7
Number of German Cars:  7

#### 1.E. Iteration:

In [18]:
print("All Italian cars are")
for idx, ic in enumerate(italian_cars):
    print(idx+1,ic) 

print("\n====================")
print("All German  cars are")
for idx, gc in enumerate(german_cars):
    print(idx+1,gc)

All Italian cars are
1 Ferrari 296 Gtb
2 Maserati MC20
3 Lamborghini Revuelto
4 Alfa Romeo Guilia Quadrifolgio
5 Pagani Utopia
6 Ferrari Daytona Sp3
7 Abarth 124 spider

====================
All German  cars are
1 Porsche 911 S/T
2 Porsche 911 GT3RS
3 Mercedes AMG One
4 BMW M3 Touring
5 Audi R8 GT
6 Skoda Superb
7 Volkswagen Passat

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.A)  max():

In [19]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]

print("max of list1:", max(List1))
print("max of list2:", max(List2))
print("max of list3:", max(List3))

max of list1: 2700
max of list2: 12
max of list3: 567

#### 2.B) min():

In [20]:
print("min of list1:", min(List1))
print("min of list2:", min(List2))
print("min of list3:", min(List3))

min of list1: 15
min of list2: 2
min of list3: 34

#### 2.C) list:

In [24]:
seq_1 = (23, 45, 76, [76.86, 87.56], "ABC")
seq_1_list = list(seq_1)
print(seq_1_list)
print(type(seq_1_list))

[23, 45, 76, [76.86, 87.56], 'ABC']
<class 'list'>

### 3. Create your own lists to operate the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [28]:
italian_cars.append("Ferrari 812 Competizione")
german_cars.append("Porsche 911 GT3 R Rennsport")
print(italian_cars, end="\n\n")
print(german_cars)

['Ferrari 296 Gtb', 'Maserati MC20', 'Lamborghini Revuelto', 'Alfa Romeo Guilia Quadrifolgio', 'Pagani Utopia', 'Ferrari Daytona Sp3', 'Abarth 124 spider', 'Ferrari 812 Competizione', 'Ferrari 812 Competizione', 'Ferrari 812 Competizione', 'Ferrari 812 Competizione']

['Porsche 911 S/T', 'Porsche 911 GT3RS', 'Mercedes AMG One', 'BMW M3 Touring', 'Audi R8 GT', 'Skoda Superb', 'Volkswagen Passat', 'Porsche 911 GT3 R Rennsport', 'Porsche 911 GT3 R Rennsport', 'Porsche 911 GT3 R Rennsport', 'Porsche 911 GT3 R Rennsport']

#### 3.B) list.clear():

In [29]:
List1.clear()
List1

[]

#### 3.C) List.copy()

In [31]:
backup_italian_cars = italian_cars.copy()
backup_italian_cars

['Ferrari 296 Gtb',
 'Maserati MC20',
 'Lamborghini Revuelto',
 'Alfa Romeo Guilia Quadrifolgio',
 'Pagani Utopia',
 'Ferrari Daytona Sp3',
 'Abarth 124 spider',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione']

#### 3. D) list.count(obj):

In [33]:
german_cars.count("Porsche 911 GT3RS")

1

#### 3.E) list.extend(seq):

In [35]:
classic_german_cars = ("Porsche 959", "Porsche Carrera GT", "Porsche 911 GT3RS 4.0", "Porsche 2.7RS", "Mercedes 300SL", "Mercedes AMG SLS Black Series ")

#### 3.F) list.index(obj):

In [36]:
german_cars.extend(classic_german_cars)
german_cars

['Porsche 911 S/T',
 'Porsche 911 GT3RS',
 'Mercedes AMG One',
 'BMW M3 Touring',
 'Audi R8 GT',
 'Skoda Superb',
 'Volkswagen Passat',
 'Porsche 911 GT3 R Rennsport',
 'Porsche 911 GT3 R Rennsport',
 'Porsche 911 GT3 R Rennsport',
 'Porsche 911 GT3 R Rennsport',
 'Porsche 959',
 'Porsche Carrera GT',
 'Porsche 911 GT3RS 4.0',
 'Porsche 2.7RS',
 'Mercedes 300SL',
 'Mercedes AMG SLS Black Series ']

#### 3.G) list.insert(index, obj):

In [58]:
List1.clear()
for i in range(0,10):
    List1.insert(i,i)

List1.insert(len(List1),23)
List1.insert(3, [34.8,56.78,86.7])
List1

[0, 1, 2, [34.8, 56.78, 86.7], 3, 4, 5, 6, 7, 8, 9, 23]

#### 3.H) list.pop(obj=list[-1]):

In [59]:
List1.pop(3) #3 is the index here 
List1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 23]

#### 3.I) list.remove(obj):

In [60]:
List1.remove(0)
List1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 23]

#### 3.j) list.reverse():

In [61]:
List1.reverse()
List1

[23, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### 3.K) list.sort([func]):

In [72]:
def sort_func(car):
    return car.lower()
    
italian_cars.sort(key=sort_func)
italian_cars

['Abarth 124 spider',
 'Alfa Romeo Guilia Quadrifolgio',
 'Ferrari 296 Gtb',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari Daytona Sp3',
 'Lamborghini Revuelto',
 'Maserati MC20',
 'Pagani Utopia']

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

### 1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [78]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')

Tup2_repe = Tuple1*2
Tup2_repe

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

#### 1.B. Concatenation (+):

In [80]:
tup3 = Tuple1 + Tuple2
tup3

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

#### 1.C) Membership:

In [83]:
if ('a', 'b', 'c') in tup3:
    print("True")
else:
    print("False")
    
if 'a' in tup3:
    print("True")
else:
    print("False")

False
True

#### 1.D) Length:

In [84]:
print(len(Tuple1))
print(len(Tuple2))
print(len(tup3))

4
4
8

#### 1.E) Iteration:

In [86]:
for element in tup3:
    print(element, end=" <=> ")

a <=> b <=> c <=> d <=> e <=> f <=> g <=> h <=>

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [90]:
tup4 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
print(max(tup3))
print(max(tup4))

h
8765

#### 2.D) min():

In [91]:
print(min(tup3))
print(min(tup4))

a
1

#### 2.E) Tuple:

In [92]:
ic_tuple = tuple(italian_cars)
ic_tuple

('Abarth 124 spider',
 'Alfa Romeo Guilia Quadrifolgio',
 'Ferrari 296 Gtb',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari 812 Competizione',
 'Ferrari Daytona Sp3',
 'Lamborghini Revuelto',
 'Maserati MC20',
 'Pagani Utopia')

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Write if statement 13 is greater than 25?

In [ ]:
if 13 > 25:
    print("13 is greater than 25")

##### 2.  Write a if else  statement to find if the number is divisible by 25?

In [94]:
num = int(input("enter number:"))
if num%5==0:
    print(num, "is divisible by 5")
else:
    print(num, "is not divisible by 5")

enter number: 23

23 is not divisible by 5

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [95]:
a = 154
b =  2451
c = 6054

if a > b and a > c:
    print("A is greater than B and C")
elif b > a and b > c:
    print("B is greater than A and C")
else:
    print("C is greater than A and B")

C is greater than A and B

# while Loop

### 1. Write a code to print (1,10) using while loops

In [96]:
num = 1
while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

# For Loop:

### 1. Write a code to print string using for loop?

In [98]:
string = "Happy Dusshera!"
print("===============Letters in string==============")
for alpha in string:
    print(alpha, end =" ")
print()

print("===============Words in string==============")
for word in string.split():
    print(word)

===============Letters in string==============
H a p p y   D u s s h e r a !
===============Words in string==============
Happy
Dusshera!

### 2. Write a code for (1,10) after equal to 3 break the loop?

In [99]:
for num in range(1, 10):
    if num==3:
        break
    print(num)

1
2

### 3. Write a code for (1,10) after equal to 3 continue the loop?

In [100]:
for num in range(1, 10):
    if num==3:
        continue
    print(num)

1
2
4
5
6
7
8
9